@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");
// 配色
$color-main:#fffffa;
$color-secondary:#8ca2a7;
$color-font:#8ca2a7;
// 字型
$font-title: 'Bungee Hairline',
cursive;
$font-text: 'Rajdhani',
sans-serif;
// 字重
$font-weight-title:1000;
$font-weight-subtitle:800;
$font-weight-text:600;
// 內距
$padding-main:10em;
$padding-secondary:5em;
$padding-third:3em;
// 頁面高度
$height-main:55em;
* {
    border: solid 2px black;
    text-align: center;
    margin: 0px;
    background-color: $color-main;
}

.header {
    padding: $padding-secondary;
    height: 5em;
}

.center {
    border: solid 3px red;
    .index {
        height: $height-main;
        padding: $padding-secondary;
        .ice {
            padding: $padding-secondary;
            * {
                height: 5em;
            }
        }
        .slogan {
            padding: $padding-secondary;
            font-family: $font-title;
            font-weight: $font-weight-text;
            color: $color-font;
        }
    }
    .home {
        height: $height-main;
        padding: $padding-secondary;
        .title {
            //padding: $padding-third;
            font-family: $font-title;
            font-weight: $font-weight-title;
            color: $color-font;
        }
        .introduction {
            padding: $padding-third;
            font-family: $font-text;
            font-weight: $font-weight-text;
            color: $color-font;
            line-height: 3em;
            *{
                line-height: 0em;
                height: 1em;
            }
        }
    }
    .about {
        height: $height-main;
        padding: $padding-secondary;
    }
    .more {
        height: $height-main;
        padding: $padding-secondary;
        .menu {
            font-family: $font-title;
            font-weight: $font-weight-subtitle;
            color: $color-font;
        }
        .dessert {
            padding: $padding-secondary;
            width: 80%;
            * {
                text-align: left;
                height: 5em;
                font-family: $font-text;
                font-weight: $font-weight-text;
                color: $color-font;
            }
        }
    }
    .source {
        height: $height-main;
        padding: $padding-secondary;
        .author {
            font-family: $font-title;
            font-weight: $font-weight-subtitle;
            color: $color-font;
        }
    }
}

.footer {
    padding: $padding-main;
    height: 5em;
}