@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");

$font-title: 'Bungee Hairline', cursive;

* {
    //border: solid 2px black;
    text-align: center;
    margin: 0px;
    background-color: #fffffa;
}

.header {
    height: 5em;
    .ice {
        height: 3em;
    }
}

.center {
    padding: 5em;
    .ice {
        height: 5em;
        margin: 5em;
    }
    .slogan{
        font-family: $font-title;
        font-weight: 600;
    }
}